#cloud-config

---
coreos:
  etcd2:
    discovery: https://discovery.etcd.io/<token>
    advertise-client-urls: http://$public_ipv4:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  fleet:
    public-ip: $public_ipv4
  flannel:
    interface: $public_ipv4
  units:
  - name: etcd2.service
    command: start
  - name: fleet.service
    command: start
  - name: flanneld.service
    drop-ins:
    - name: 50-network-config.conf
      content: |
        [Service]
        ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
    command: start
  - name: docker-tcp.socket
    command: start
    enable: true
    content: |
      [Unit]
      Description=Docker Socket for the API

      [Socket]
      ListenStream=2375
      Service=docker.service
      BindIPv6Only=both

      [Install]
      WantedBy=sockets.target
  - name: 2048.service
    command: start
    enable: true
    content: |
      [Unit]
      Description=2048 Web Application
      Requires=docker.service

      [Service]
      ExecStartPre=-/usr/bin/docker kill 2048
      ExecStartPre=-/usr/bin/docker rm 2048
      ExecStartPre=-/usr/bin/git clone https://github.com/trizko/2048.git /home/core/share
      ExecStartPre=/usr/bin/docker build -t trizko/2048 /home/core/share/
      ExecStart=/usr/bin/docker run --name 2048 -p 8080:8080 trizko/2048
      ExecStop=/usr/bin/rm -rf /home/core/share
      ExecStop=/usr/bin/docker stop 2048
