table {
    margin: auto;
    border: auto;
    border-radius: 10px;
    background-color: #BBADA0;
    padding: 8px;
}

td {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
}
