.block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid;
    text-align: center;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.blank {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid;
    text-align: center;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
}
