table {
    margin: auto;
    border: auto;
    border:3px solid #000000;
    border-radius: 10px;
}

td {
  width: 100px;
  height: 100px;
  border: 3px solid #000000;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
}
